/* start of conseil section */
.headerconseil {
    // width: 100%;
    margin-top: 2%;

    &__title {
        text-align: center;
        color: #1078AD;
    }
}

.conseil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;

    &__card {
        padding: 5%;

        &--pic {
            max-width: 50%;
            height: auto;
            padding-top: 13%;
        }

        & h3 {
            color: #1A519E;
        }


        // &--pic {
        //     margin-top: -13%;
        // }
        &:last-child{
          grid-column: 1 / span 3;
          grid-row: 3 / 4;
        }
    }
}

.home {
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    // margin-bottom: 2%;

    & h3 {
        color: #1A519E;
        padding-top: 1%;
    }
}

.information {
    width: 100%;
    background-color: #D0E5F0;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.InfoMain {
    // width: 90%;
    // margin: 0 auto;
    display: grid;
    // flex-direction: row;
    // flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;

    &__txt {
        // width: 30%;
        // height: auto;
        color: #1078AD;
        text-align: center;

        & h1 {
            font-size: 1.6em;
            margin-bottom: 1em;
        }
        & h3{
          line-height: 1.9em;
          color: #1A519E;
        }
    }

    &__btns {
        text-align: center;

        &--btn {
            // width: 30%;

            // margin-top: 2%;
            background-color: #1078AD;
            padding: 2.5%;
            font-size: 1.1em;
            font-weight: 700;
            border: none;
            border-radius: 4px;
            // cursor: pointer;

            & a {
                color: white;
                text-decoration: none;
            }
        }

        // &--btn2 {
        //     margin-left: 25%;
        //     width: 30%;
        //     height: auto;
        //     margin-top: 2%;
        //     background-color: #1078AD;
        //     padding: 1.5%;
        //     font-size: 1vw;
        //     font-weight: 700;
        //     border: none;
        //     border-radius: 4px;
        //     cursor: pointer;
        //
        //     & a {
        //         color: white;
        //         text-decoration: none;
        //     }
        // }
    }

}

.transmet {
    width: 100%;
    color: #1A519E;

    & h1 {
        text-align: center;
        margin-top: 2.5em;
        color: #1078AD;
    }
}

.trsm {
    // width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 4em;
}
/* end of conseil section */
